.tasks-list{
    padding:0;
    margin:0;
    list-style: none;
    width: 300px;
}

.tasks-list li{
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.tasks-list .checkbox{
    margin-right:10px;
}

.tasks-list .btn{
    margin: 2px 0 0 10px;
    float: right;
}